$accent-color: #909090;
$theme: dark;

@mixin price($price-type) {
    font-size: 1.2em;
    @if $price-type == normal {
        color: rgb(244, 99, 99);
    }
    @if $price-type == special {
        color: rgb(69, 125, 255);
    }
}

.body {
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    gap: 4%;
    align-items: center;
    justify-content: center;
}

.card__image {
    width: 100%;
}

.card__title {
    font-size: 1.2em;
}

.card {
    padding: 1%;
    background: #222;
    color: white;
    width: 10%;
    border-radius: 6%;

    &--accent {
        border: 2px solid $accent-color;
    }
}

.card__price {
    font-size: 1.2em;

    $price-type: special;
    @include price($price-type);
}
